<!DOCTYPE HTML>
{% load static %}
{% load leaflet_tags %}

<html lang="en" >
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="http://openlayers.org/api/OpenLayers.js"></script> 
	
	{% leaflet_js %}
    {% leaflet_css %}
	
	<style>
		.leaflet-container { height: 600px; width: 1500px;}
		h1 {color : red;}
    </style>
	
	<script>
	window.onload = function test() {
	window.alert("HEY! check test js script in mapservice/templates/testpage.html");
	}
	</script>
	
    </head>
	
    <body>
	
	<h1 id="title"> Map service  </h1>
	
	<a href="{% url 'mapview' %}">
    back to main page
    </a>
	

	{% leaflet_map "mappu" %}


	{% block js %} {% endblock %}
	
    </body>
	
</html>