<!DOCTYPE HTML>
{% load static %}
{% load leaflet_tags %}

<html lang="en" >
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="http://openlayers.org/api/OpenLayers.js"></script> 
	
	{% leaflet_js %}
    {% leaflet_css %}
	
	<style>
		{# comment: no clue why this is not working atm? i wanted full page size map, but w/e just proof of concepting for now so... #}
		.leaflet-container { height: 100%; }
    </style>
	
    </head>
	
	
    <body>
	
	<h1 id="title"> Map service  </h1>
	<a href="{% url 'test' %}">
    TEST page! Play around with it
    </a>
	

	{% leaflet_map "mappu" %}


	{% block js %} {% endblock %}
	
    </body>
	
</html>
