<!DOCTYPE HTML>
{% load static %}
{% load leaflet_tags %}

<html lang="en" >
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	{% leaflet_js %}
    {% leaflet_css %}
	
	<style>
		.leaflet-container { height: 540px; width: 1366px;}
    </style>
    
    <script type='text/javascript'>
        var Lgrp = new L.LayerGroup();
        var flayer = L.geoJSON();
        Lgrp.addLayer(flayer);
        
        window.addEventListener("map:init", function (event) 
        {
            window.map = event.detail.map;
            window.map.on('click', mapclick);
            var geojsonFlr = {{ floor|safe }};
            flayer.addData(geojsonFlr);
            Lgrp.addTo(window.map);
        }, );
        
            
        window.onload = function shownFloors() {
            document.getElementById('{{selectedfloor}}').selected = true;
        }
            
        function mapclick(loc) {
            var cmarker = L.marker(loc.latlng).bindPopup("<h3>Test marker!</h3><p>Located at " + loc.latlng + ".</p>");
            cmarker.addTo(window.map);
            cmarker.openPopup();
        }

    </script>
	
    </head>
	
	
    <body>
	
	<h2 id="title"> Map service  </h1>
	<a href="{% url 'test' %}">
    TEST page! Play around with it
    </a>
	

	{% leaflet_map "mappu"%}
    <form method="post" id="changefloor">
        {% csrf_token %}
        <select type="submit" name="visibfloors" onchange="this.form.submit()">
            <option value="1st" id="1st">Show 1st floors</option>
            <option value="2nd" id="2nd">Show 2nd floors</option>
            <option value="3rd" id="3rd">Show 3rd floors</option>
            <option value="4th" id="4th">Show 4th floors</option>
        </select>
    </form>
	
    </body>
	
</html>
